{{- $options := .Options -}}
{{- $data := newScratch -}}
{{- $data.Set "options" dict -}}
{{- range $key, $value := $options -}}
{{- $data.SetInMap "options" (lower $key) $value -}}
{{- end -}}
{{- $replacement := (printf "%s%s" "code" (substr (md5 .Inner) 0 7)) -}}
{{- $data.SetInMap "options" "lineanchors" $replacement -}}
<table class="code-header">
    <tr>
        {{- with .Attributes.title }}
        <td class="code-title">{{ . }}</td>
        {{- end}}
    </tr>
    <tr class="code-lang">
        {{- if .Attributes.kind }}
        {{- with .Attributes.kind }}
        <td class="code-lang">{{ . }}</td>
        {{- end}}
        {{- else -}}
        <td class="code-lang">{{ .Type | string }} diagram</td>
        {{ end }}
    </tr>
</table>
<div class="mermaid">
    {{- .Inner | safeHTML }}
</div>
{{ .Page.Store.Set "hasMermaid" true }}